//Variables

$background-color: #2D333B;
$text-color: #CDD7E0;

// Estilos generales

* {
  box-sizing: border-box;
}

body {

  margin: 0;
  padding: 0;
  background-color: $background-color;
  color: $text-color;
  font-family: Open Sans;
  
}

// Header

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 30px 10px;
}

h2 {
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding-bottom: 10px;
}

// Grid layout

.container {

  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-right: 30px;
  display: flex;
  justify-content: center;

}

// Menu navegación

ul {
  li {
    list-style: none;
    padding: 15px 0;

    a {
      text-decoration: none;
      color: $text-color;
      font-weight: bold;
      font-size: 1rem;
      padding: 8px 20px;
      display: none;


      &:hover {
        background-color: rgba(205, 215, 224, 0.1);
        border-radius: 2em;
      }
    }
  }
}

// Contenido

.imagenes {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;

}

// Conocimientos

.conocimientos {
  text-align: center;
  img {
    width: 50px;
    height: 50px;
    &:hover {
        -webkit-transform: rotateY(180deg);
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        transform-style: preserve-3d;
        transition: all 1.5s;
    }
    }
  }

// Imagenes y efecto tarjeta

figure {
  margin: 0;
  padding: 0;

  img {

    border-radius: 1em;
    margin: .5em;
    width: 190px;
    height: 120px;
  
  
    &:hover {
      content: "";
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.2);
      opacity: 0.7;
      transition: all 0.5s;
      cursor: pointer;
      -webkit-transform:scale(1.1);
      transform:scale(1.1);
    }
  
  }

}

h3 {
  font-size: 1em;
  text-align: center;
}

// Enlaces

a {
  text-decoration: none;
  color: #3f7cca;

}

.stats {
  display: flex;
  justify-content: center;
}

.enlace a{
  padding: 10px;
  background-color: #3f7cca;
  color: white;
  border-radius: 10px;
  margin-top: 20px;
display:flex;
justify-content: center;
width: 98%;

&:hover {
  opacity: 0.9;
}
}

// Formulario

form {
  margin: 0 -30px;
  display: none;
}

label {

  font-weight: bold;
  font: 1em monospace, sans-serif;

}

input,
textarea {

  font: 1em monospace, sans-serif;
  width: 250px;
  height: 40px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
  padding: 0 8px;
  margin-top: 10px;

}

textarea {

  padding: 8px;
  vertical-align: top;
  height: 15em;
}

.button {
  text-align: right;
}

button {

  padding: 15px 20px;
  background-color: #ddd;
  border: none;

  &:hover {
    background-color: #aaa;
    cursor: pointer;
  }
}

//Estilos para Desktop

@media screen and (min-width: 1024px) {

  body {
    width: 1000px;
    margin: auto;
  }

  .container {
    grid-gap: 25px;

  }

  nav {
    border-right: 1px solid $text-color;
    padding: 0 15px;

  }

  // Header

  h1 {
    font-size: 3rem;
  }

  //Tamaño del texto de menú

  ul li a {
    font-size: 1.4rem;
    display: block;
    


  }

  // Conocimientos

  .conocimientos {
    img {
      width: 70px;
      height: 70px;
      margin: 10px;
    }
  }

  // Imagenes y efecto tarjeta

  figure img {

    width: 340px;
    height: 200px;
   
  }

  figcaption {

    width: 300px;
    height: 183px;
   
  }

  // Ancho del formulario

  input,
  textarea {

    width: 685px;

  }

}